.dateSelector {
    margin-left: 2em;
}

.deadline {
    margin-right: 1em;
    margin-top: auto;
    margin-bottom: auto;
    color: rgba(255, 0, 0, 0.8);
}

.infos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
