$text-color: rgb(40, 39, 39);
$background-color: #fff;
$main-font: CooperHewitt;

html {
  background-color: $text-color;
  color: $background-color;

  font-family: $main-font;
}

hr {
  color: rgba(0.1, 0.1, 0.1, 0.1);
  width: 50%;
  margin: 50px auto;
}

button,
select,
input {
  border-radius: 5px;
  cursor: pointer;

  background-color: $text-color;
  color: $background-color;
  border: 1px solid rgba($background-color, 0.2);
}
