@import "./global";

.chartContainerWide {
    width: 80vw;
    height: 500px;

    margin-bottom: 4em;
}

.chartContainerSmall {
    width: 500px;
    height: 300px;
}

.chart {
    font-family: Monospace;
}

/** RECHARTS CUSTOM STYLE */

// Labels
.recharts-text.recharts-cartesian-axis-tick-value,
.recharts-text.recharts-label
{
    @include whenDarkGlobal {
        fill: darken($background-color, 20%) !important;
    }
}

// Cartesian grid
.recharts-cartesian-grid-horizontal line,
.recharts-cartesian-grid-vertical line
{
    @include whenDarkGlobal {
        stroke: darken($background-color, 40%) !important;
    }
}

// Tooltip
.recharts-default-tooltip {
    @include whenDarkGlobal {
        fill: $background-color !important;
        background-color: darken(#353B48, 10%) !important;
    }
}

// Rectangle tooltip on bar chart
.recharts-rectangle.recharts-tooltip-cursor {
    @include whenDarkGlobal {
        fill: #353B48 !important;
    }
}

.recharts-sector {
    @include whenDarkGlobal {
        stroke: #353B48 !important;
    }

    stroke: none;
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .2));

}

.recharts-pie-label-text {
    font-size: 0.8rem !important;
}
