@import "./global";

.chartContainerWide {
  width: 80vw;
  height: 500px;

  margin-bottom: 4em;
}

.chartContainerSmall {
  width: 500px;
  height: 300px;
}

.chart {
  font-family: CooperHewitt;
}

/** RECHARTS CUSTOM STYLE */

// Labels
.recharts-text.recharts-cartesian-axis-tick-value,
.recharts-text.recharts-label {
  fill: darken($background-color, 20%) !important;
}

// Cartesian grid
.recharts-cartesian-grid-horizontal line,
.recharts-cartesian-grid-vertical line {
  stroke: darken($background-color, 40%) !important;
}

// Tooltip
.recharts-default-tooltip {
  border-radius: 10px;

  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.2));

  fill: $background-color !important;
  background-color: darken(#353b48, 10%) !important;
  border-color: lighten(#353b48, 2%) !important;
}

// Custom tooltip for pie chart
.recharts-pie-tooltip-override {
  border: 1px solid rgb(204, 204, 204);
  padding: 15px 10px;
  background-color: $background-color;
}

// Rectangle tooltip on bar chart
.recharts-rectangle.recharts-tooltip-cursor {
  fill: #353b48 !important;
}

// Drop shadow on pie char sectors
.recharts-sector {
  stroke: #353b48 !important;

  stroke: none;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.2));
}

// Pie chart center text font size
.recharts-pie-label-text {
  font-size: 0.8rem !important;
}

.centeredLabel {
  font-family: $main-font;
  fill: $background-color;
}
