@font-face {
    font-family: 'SanitrixieSans';
    src: url("../assets/fonts/sanitrixiesans.woff") format("woff");
}

@font-face {
    font-family: 'CooperHewitt';
    src: url("../assets/fonts/CooperHewitt-Medium.otf") format("opentype");
}
