.counterContainer {
  display: flex;
  align-items: baseline;
  justify-content: center;

  color: rgb(130, 130, 130);

  .counter {
    margin-right: 10px;
  }

  .label {
    font-size: 20px;
  }

  .info {
    margin-left: 10px;
    color: rgb(90, 90, 90);
  }
}

.time {
  display: flex;

  .counterContainer {
    margin-right: 20px;
  }
}

.inline {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
}

.inlineStats {
  display: flex;
  align-items: center;
  flex-direction: column;
}
