@import "sass/global";

.deadline {
    margin-right: 20px;
    color: rgba(255, 0, 0, 0.8);

    border-radius: 5px;
}

.totalFrames {
    border-radius: 7px;
    padding: 5px;
    margin-left: 5px;

    color: white;
}
