@import "sass/global";

.header {
    text-align: center;
    padding: 1em;
    margin-bottom: 5em;

    .artfxLogo {
        position: absolute;
        left: 1em;
        top: 0.5em;
        width: 100px;

        @include whenDark {
            filter: invert(1);
        }
    }
}

.pageContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;

    padding-bottom: 100px;
}

.footer {
    display: flex;
    align-items: center;
    flex-direction: column;

    font-size: 0.8em;

    margin-bottom: 30px;

    p {
        margin: 5px;
    }

    hr {
        width: 20%;
    }

    .bugReport {
        $color: rgb(66, 82, 99);

        color: $color;

        &:hover {
            color: lighten($color, 10);
        }
    }

    .githubLogo {
        width: 35px;
    }
}

