.mainNav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    ul {
        padding: 0;

        li {
            display: inline;
            list-style: none;

            padding: 0 1em;

            a {
                text-decoration: none;
                color: inherit;

                transition: filter 0.3s;

                &.activeLink {
                    text-decoration: underline;
                }

                &:hover {
                    filter: brightness(1.2);
                }
            }
        }
    }
}

.projectsList {
    font-size: 0.8em;
}
