@import "../colors";

.container {
    padding-left: 2em;

    .item {
        border-radius: 10px;

        margin: 10px 10px 10px 0px;

        display: flex;
        align-items: center;

        transition: background-color ease 0.3s;
        background-color: $color-notRendered-light;
        box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);

        &.valid {
            background-color: $color-valid-light;
        }

        &.modified {
            background-color: $color-modified-light;
        }

        .error {
            color: red;
            font-size: 0.8em;
            margin-left: 1em;
        }

        .checkbox {
            margin-left: auto;
        }

        @include whenDark {
            background-color: $color-notRendered-dark;

            &.valid {
                background-color: $color-valid-dark;
            }

            &.modified {
                background-color: $color-modified-dark;
            }
        }
    }


    .children {
    }
}

.item-depth0 {
}

.item-depth1 {
}

.item-depth2 {
}

.arrow {
    border-right: 3px solid;
    border-bottom: 3px solid;
    height: 0.5em;
    width: 0.5em;

    margin-right: 30px;
    margin-left: 20px;

    transition: all ease 0.2s;
    cursor: pointer;

    display: block;

    &:hover {
        scale: 1.2;
    }
}

.closed {
    rotate: -45deg;
}

.open {
    rotate: 45deg;
}
