@import "../colors";

@keyframes slideInFromLeft {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.container {
  padding-left: 50px;

  &.item-depth0 {
    padding-left: 0px;
  }

  .item {
    position: relative;

    border-radius: 10px;
    margin: 10px 0px 10px 0px;

    display: flex;
    align-items: center;

    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);

    background-color: $color-notRendered-light;

    @include whenDark {
      background-color: $color-notRendered-dark;
    }

    p {
      z-index: 1;
    }

    .error {
      color: red;
      font-size: 0.8em;
      margin-left: 1em;
      z-index: 1;
    }

    .checkbox {
      margin-left: auto;
      z-index: 1;
    }

    .expression {
      border: none;
      border-radius: 4px;
      margin-left: auto;
      background-color: #d9d9d9;
      color: black;

      z-index: 1;

      @include whenDark {
        background-color: #282727;
        color: white;
      }
    }

    .progressBarContainer {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;

      .progressBar {
        position: absolute;
        top: 0;
        left: 0;

        height: 100%;

        border-radius: 10px;

        transition: all 0.3s ease;

        & :local {
          animation: slideInFromLeft 0.7s ease forwards;
        }

        background-color: $color-valid-light;

        &.valid {
          background-color: $color-valid-light;
        }

        &.modified {
          background-color: $color-modified-light;
        }

        @include whenDark {
          background-color: $color-valid-dark;

          &.valid {
            background-color: $color-valid-dark;
          }

          &.modified {
            background-color: $color-modified-dark;
          }
        }
      }
    }
  }
}

.arrow {
  border-right: 3px solid;
  border-bottom: 3px solid;
  height: 0.5em;
  width: 0.5em;

  margin-right: 30px;
  margin-left: 20px;

  transition: all ease 0.2s;
  cursor: pointer;

  display: block;

  z-index: 1;

  &:hover {
    scale: 1.2;
  }
}

.closed {
  rotate: -45deg;
}

.open {
  rotate: 45deg;
}
