// Normalize CSS
@import-normalize;

@import "./sass/global";
@import "./sass/typography";
@import "./sass/recharts";

@import '~pretty-checkbox/src/pretty-checkbox.scss';

html {
    background-color: $background-color;
    color: $text-color;

    font-family: $main-font;

    transition: all 0.5s;
}

html.dark {
    background-color: $text-color;
    color: $background-color;
}

button, select {
    @include whenDarkGlobal {
        background-color: $text-color;
        color: $background-color;
    }
}
